[submodule "webcache/libCacheSim"]
	path = webcache/libCacheSim
	url = git@github.com:rohitdwivedula/libcachesim.git
[submodule "tcp_cc/evaluate/sage_traces"]
	path = tcp_cc/evaluate/sage_traces
	url = https://github.com/Soheil-ab/sage.git
